<h1>Comments Posted By You:</h1>

<ul>
byebug
    <% @chats.each do |chat| %>
        <li>
            "<%= link_to chat.content, club_chat_path(chat) %>" in <%= link_to chat.club.name, club_path(chat.club) %>
        </li>
    <% end %>
</ul>