<div id="non-student-index">
    <h1> All Courses 📚 </h1>

    <ul>
    <% @courses.each do |course| %>
        <li>
            <%= link_to course.name, course_path(course) %>
        </li>
    <% end %>
    </ul>
</div>