/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 @import "bootstrap";


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.professor img {
    height:300px;
}

.professor {
    text-align: center;
    background-image: url("https://ae01.alicdn.com/kf/HTB1QJ.1aOzxK1RjSspjq6AS.pXa8/Harry-Potter-Magic-school-hogwarts-background-High-quality-Computer-print-wall-photo-backdrop.jpg_640x640.jpg");
    background-size: cover;
    height:100vh;
    color: yellow;
    text-shadow: 3px 3px black;
}

.navbar-brand img {
    height:70px;
    width:70px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

#student_show {
    text-align: center;
    text-shadow: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
}

#logout {
    margin-left: 400px; 
}

#non-student-index {
    background-image: url("https://i.pinimg.com/originals/f6/a1/62/f6a162b7718d7b2822921d72b886d015.jpg");
    background-size: cover;
    height:100vh;
    background-repeat: no-repeat;
}

#login-page {
    background-image: url("https://st.hzcdn.com/simgs/a381e3d50b8419d9_4-0678/home-design.jpg");
    height:100vh;
    text-align: center;
    color: yellow;
}

#login-text {
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 43%;
  margin: -100px 0 0 -150px;
}

footer {
    text-align: center;
    background-color: #343A3F;
    color: yellow;
    height: 70px;
    
}

.foot {
    position: relative;
    z-index: 2;
}

.sidebar-left {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
  /* The navigation menu links */
.sidebar-left a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}
  
  /* When you mouse over the navigation links, change their color */
.sidebar-left a:hover {
    color: #f1f1f1;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar-left {padding-top: 15px;}
    .sidebar-left a {font-size: 18px;}
}

.my-chats {
      color: white;
      text-align: center;
      border: 2px solid #343A3F;
      width: 600px;
      margin-left: 425px;
      background-size: cover;
      background-position: 50px;
      background-image: url("https://images.unsplash.com/photo-1536300995586-2c63143ea13f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80");
}

#club-show {
    background-image: url("https://images.pexels.com/photos/220085/pexels-photo-220085.jpeg?cs=srgb&dl=4k-wallpaper-background-galaxy-220085.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#class-show {
    background-image: url("https://images.pexels.com/photos/220085/pexels-photo-220085.jpeg?cs=srgb&dl=4k-wallpaper-background-galaxy-220085.jpg&fm=jpg");
    background-size: cover;
    height:100vh;
    color: white;
}

#comment-box {
    margin-left: 30px;
}


